aside.main-sidebar
  section.sidebar(style="height: auto;")
    ul.sidebar-menu 
      each part in menus
        li.header= part.name
        each item in part.menus
          li.treeviewclass(class = "#{(item.controllers || []).indexOf(route.controller) > -1 ? 'active' : ''}")
            a(href="#{item.href}")
              i.fa(class="#{item.icon}")
              span= item.name
              i.fa.fa-angle-left.pull-right
            
            - if(item.subs)
              ul.treeview-menu
                - each sub in item.subs
                  li(class="#{sub.href == ('/' + route.controller + '/' + route.action) ? 'active' : ''}")
                    a(href="#{sub.href}")
                      i.fa.fa-circle-o
                      | #{sub.name}   



      //- li.header MOBILE APP
      //- li.app
      //-   a
      //-     i.fa.fa-circle-o.text-red
      //-     span 搭配家商家版（Android）
      //-   img(src="/images/android.png") 
      //- 
      //- li.app
      //-   a
      //-     i.fa.fa-circle-o.text-aqua
      //-     span 搭配家商家版（IOS）
      //-   img(src="/images/ipad.png") 

