meta(charset="utf-8")
title #{page.name}-搭配家
meta(name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
link(href="/dist/vendor.min.css" rel="stylesheet")
link(rel="icon" type="image/x-icon" href="/dpj.ico")
block cssExt
link(href="/dist/css/controller/#{route.controller}.min.css" rel="stylesheet")
//- 存入后端的某些公共变量供JS使用  全局配置
script.
  window.SITE = {
    router: {
      controller: '#{route.controller}',
      action: '#{route.action}'
    },
  
    API: {
      url: 'http://192.168.1.120/openapilist/api/1.0/'
      //- url: 'http://192.168.1.120/open_password/api/1.0/'
    }

  }
  
script(src="/dist/vendor.min.js")

